<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="100" prefixLanguageFilePath="" path="/500.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
