[[request]]
<form action="?cat={walletpage}" method="post">
<table class="default" width="100%">
<tr class="title"><td>Demande de financement</td></tr>
<tr class="item"><td align=center>
	<table class="clear">
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td>Trésorerie: </td><td align="left">{player_credits:n} crédits</td></tr>
	<tr><td>Financement: </td><td align="left"><input type="text" name="credits" value="{credits}" size=8 maxlength=8> crédits</td></tr>
	<tr><td>Description: </td><td align="left"><input type="text" name="description" value="{description}" size=64 maxlength=64></td></tr>
	<tr><td>Etat: </td><td align="left">[[submitted]]<span class="pending">en cours ...</span>[/submitted]][[none]]aucune demande de financement[/none]][[denied]]<span class="denied">demande refusée</span>[/denied]]</td></tr>
	<tr><td colspan=2>&nbsp;</td></tr>
	<tr><td colspan=2 align=center><input type="submit" name="request" value="Demander"> <input type="submit" name="cancel" value="Annuler"></td></tr>
	</table>
</td>
</tr>
</table>
</form>
[/request]]
[[list]]
<table class="default" width="100%">
<tr class="title"><td colspan=5>En tant que trésorier, vous pouvez accepter ou refuser les demandes d'argent</td></tr>
<tr class="header"><td>Date</td><td>Nation</td><td>Crédits</td><td>Description</td><td>Action</td></tr>
[[entry]]
<tr class="smallitem">
<td nowrap>{date:dd/mm/yyyy hh:nn:ss}</td><td nowrap>{nation:%s!-}</td><td align=right nowrap>{credits:n}</td><td>{description:%s!aucune}</td><td align="center" nowrap><a href="?cat={walletpage}&a=accept&id={id}">Accepter</a> - <a href="?cat={walletpage}&a=deny&id={id}">Refuser</a></td>
</tr>
[/entry]]
[[norequests]]
<td class="smallitem" colspan=5 align=center>Aucune demande</td>
[/norequests]]
</table>
[/list]]