<table class="default" width=1050>
<tr class="title"><td colspan="3">Dépenses</td></tr>
[[expense]]
<tr><td width="1%" nowrap>{timestamp:d}</td><td width="1%" nowrap>Credits: {credits:n}</td><td nowrap>
[[build_building]]Construction du bâtiment: {building} sur {planetname} ({g}.{s}.{p})[/build_building]]
[[build_ship]]Construction de {quantity} {ship} sur {planetname} ({g}.{s}.{p})[/build_ship]]
[[research]]Recherche de {research}[/research]]
[[movefleet]]Déplacement de flotte {fleetname} vers {planetname} ({g}.{s}.{p})[/movefleet]]
[[train]]Formation de {scientists:n} scientifiques et {soldiers:n} soldats sur {planetname} ({g}.{s}.{p})[/train]]
[[sent]]Envoie d'argent vers {username}[/sent]]
[[buy]]Achat de {ore:n} minerai et {hydrocarbon:n} hydrocarbure sur {planetname} ({g}.{s}.{p})[/buy]]
[[spy]]Espionnage[/spy]]
[[to_alliance]]Donné à l'alliance[/to_alliance]]
[[leave_alliance]]Quitte l'alliance[/leave_alliance]]
<br/>cost: {credits_delta:n}</td></tr>
[/expense]]
</table>