<style>
#dotplan
{
	text-align:left;
}

#dotplan div.title
{
	background: url('/images/interface/grad50.gif') repeat-x;
	background-color: #3c3c3c; 
	border: #222 1px solid;
	margin: 2px 2px;
	padding:5px 10px;
	font-weight: bold;
}

#dotplan div.description
{
    font-size: 10px;
	background: url('/images/interface/grad100.gif') repeat-x;
	background-color: #3c3c3c;
	border: #222 1px solid;
	margin: 2px 2px;
	padding:5px 10px;
}

</style>

<div id="dotplan">
<div class="title">Ideas and work in progress</div>
<div class="description">
	<ul>
		<li>Counter intelligence to counter spies</li>
		<li>Fleet : A fleet should not be able to move during an hour after a movement.</li>
		<li>Fleet : Make attack (to steal resources).</li>
		<li>Market : Make resource prices vary according to the galaxy where the planet is</li>
		<li>Events : Random events should occur
			<ul>
				<li>Production could be lowered by 50% because of an epidemy or any other reason</li>
				<li>An epidemy could kill idle workers and soldiers every hour for a day</li>
			</ul>
		</li>
	</ul>
</div>

<div class="title">2005/11/29</div>
<div class="description">
	<ul>
		<li>Events : Added some random events</li>
	</ul>
</div>

<div class="title">2005/11/28</div>
<div class="description">
	<ul>
		<li>Fleets : You can merge a fleet into the fleet you're giving the order.</li>
		<li>Nations : A new page will give you some information on a player (name, registration date, description, alliance)</li>
	</ul>
</div>

<div class="title">2005/11/25</div>
<div class="description">
	<ul>
		<li>Ranking : Players/alliances can be searched.</li>
		<li>Game Over : A special web page is displayed when a player has no more planets. The player can either delete his account or reset it to play again with a new planet.</li>
	</ul>
</div>

<div class="title">2005/11/24</div>
<div class="description">
	<ul>
		<li>Ranking : Players/alliances are displayed 100 by 100.</li>
		<li>Merchants : Merchants fleet may be destroyed by pirates or a malfunctionning engine. In this rare case, the merchants will not pay you the other half.</li>
		<li>Planets : Scientists and soldiers are not displayed for each planet. Soldiers are written in red in case they are not enough for the number of scientists/workers on the planet.</li>
	</ul>
</div>

<div class="title">2005/11/23</div>
<div class="description">
	<ul>
		<li>Reports : When an ally unloads resources, the quantities are now known in the report.</li>
		<li>Layout : Workers amount is written in red if they are less than 500 on a planet.</li>
		<li>Reports : Invasions summaries are sent to both the attacker and the defender.</li>
	</ul>
</div>

<div class="title">2005/11/22</div>
<div class="description">
	<ul>
		<li>Fleets : Planets can be invaded with soldiers. Units values:<br/>
				<ul><li>scientist : defense value 1, attack value 0</li>
					<li>soldiers : defense value 8, attack value 4</li>
					<li>worker : defense value 1, attack value 0</li>
				</ul>

		</li>
		<li>Reports : New reports are highlighted with a green gradient background.</li>
		<li>Ranking : New ranking by alliance is available.</li>
	</ul>
</div>

<div class="title">2005/11/21</div>
<div class="description">
	<ul>
		<li>Fleets : You can cancel a move order for at least 2 minutes after the order was given.</li>
		<li>Fleets : When moving a fleet, you can choose the target planet from a combobox that lists your planets.</li>
		<li>Overview : Planets without shipyard are no more listed in the list of "ships under construction".</li>
	</ul>
</div>

<div class="title">2005/11/18</div>
<div class="description">
	<ul>
		<li>Radar : Fleets are now seen according to the power of your radar in the sector.</li>
		<li>Help : Help is now on one page with tabs to access the different sections of the help.</li>
	</ul>
</div>

<div class="title">2005/11/17</div>
<div class="description">
	<ul>
		<li>Fleets : Added a page to list all the ships not assigned in a fleet.</li>
	</ul>
</div>

<div class="title">2005/11/16</div>
<div class="description">
	<ul>
		<li>Alliances : NAPs can now be sent to other alliances.</li>
		<li>Game : Player info in XML can be retrieved from this URL "http://www.monexile.lan/game/exile-ranking-user.asp?player=name"</li>
		<li>Reports : Reports can be filtered by categories.</li>
	</ul>
</div>

<div class="title">2005/11/15</div>
<div class="description">
	<ul>
		<li>Map : Univers can be browsed by clicking on the galaxies and sectors. Their borders are red when there is an enemy planet and green when there is a friendly planet or one of your planet.</li>
	</ul>
</div>

<div class="title">2005/11/14</div>
<div class="description">
	<ul>
		<li>Buildings/Research/Shipyard : A tooltip with the description of the object is now displayed when you hover a building/research/ship name with your mouse.</li>
	</ul>
</div>

<div class="title">2005/11/08</div>
<div class="description">
	<ul>
		<li>Alliances : It is possible to invite members to join your alliance.</li>
		<li>Alliances : You can manage your alliance : change the logo and description.</li>
		<li>Alliances : A webpage presents the alliance with you logo, the description, the leader, the number of your members and the NAPs (Non Aggression Pacts)</li>
	</ul>
</div>

<div class="title">2005/11/07</div>
<div class="description">
	<ul>
		<li>Alliances : You can now create your alliance.</li>
		<li>Ranking : Alliance of the player is now displayed.</li>
	</ul>
</div>

<div class="title">2005/11/02</div>
<div class="description">
	<ul>
		<li>Fleets : It is now possible to recycle resources near planets with the ships named "Recolteur" : once a fleet is recycling, resources will be recycled every 10 minutes until there's no more resources, the cargo is full or the fleet fighting.</li>
		<li>Layout : Countdowns become green when there is only 10 minutes left.</li>
	</ul>
</div>

<div class="title">2005/10/27</div>
<div class="description">
	<ul>
		<li>Battles : New battle reports with colors for friends (green) or enemies (red), and ships destroyed/killed by types of ship.</li>
		<li>Battles : Destroyed ships now create resources near the planet where the battle happens.</li>
	</ul>
</div>

<div class="title">2005/10/25</div>
<div class="description">
	<ul>
		<li>Market : You now get half of the money immediately when selling resources</li>
		<li>Layout : Planet status is now displayed on 2 lines and floor/space available has been added</li>
		<li>Planets : Floor/space available has been added</li>
	</ul>
</div>

<div class="title">2005/10/19</div>
<div class="description">
	<ul>
		<li>Universe : A pirate organization called "Les fossoyeurs" has deployed its fleets all over the galaxy, watch out for their fleets !</li>
		<li>Options : An error was risen when avatar path was empty</li>
	</ul>
</div>

<div class="title">2005/10/15</div>
<div class="description">
	<ul>
		<li>Shipyard : The wrong bonus was applied to ship construction time</li>
		<li>Fleets : Moving a fleet to a new sector was taking a fixed time of 10 hours</li>
		<li>Fleets : You can now move a fleet that is in battle, it will be considered as fleeing the battle : there will be a fight before the fleet effectively moves and the fleet fleeing will take more damage but there will be only 1 round instead of 10 rounds in normal battles</li>
	</ul>
</div>

<div class="title">2005/10/13</div>
<div class="description">
	<ul>
		<li>Buildings : Destroying a building now gives back 10% of the resources used to build it</li>
		<li>Layout : Some changes in the layout</li>
		<li>Options : Added an option to delete his account, it is deleted after 2 days</li>
		<li>System : Accounts are deleted after 1 month of inactivity</li>
		<li>Fleets : Trying to load or unload too many workers doesn't raise an internal server error</li>
	</ul>
</div>

<div class="title">2005/10/12</div>
<div class="description">
	<ul>
		<li>Orbit : Added a "max" button to automatically set the maximum number of ships available</li>
		<li>Reports : A new report is sent when a planet is colonized</li>
		<li>Buildings : Ore and Hydrocarbon mines now produces half more</li>
		<li>Market : Prices have increased and traders should be a little faster</li>
		<li>Ships : Finished doing the javascript code to dynamically update fleet cargo capacity and warn the user when the fleet load is greater than the new fleet cargo capacity</li>
		<li>Map : Added some arrows to navigate through the map more easily</li>
		<li>Site : Logins now allows spaces but are limited to 12 characters</li>
	</ul>
</div>

<div class="title">2005/10/11</div>
<div class="description">
	<ul>
		<li>Research : New scientists reduce research time of the current research, if you load scientists aboard ships, research time will increase since they won't be able to work</li>
		<li>Research : Scientists now have a greater effect on research time</li>
		<li>Ships : Added a new ship in the transport ships : the "colonizer I" which allows to colonize uninhabited planets</li>
	</ul>
</div>

<div class="title">2005/10/10</div>
<div class="description">
	<ul>
		<li>Buildings : Added a new building : the jammer, it is a satellite that will jam other planets radar and hide the planet floor/space statistics and orbiting fleets</li>
		<li>Ships : Added a new ship : the "Cargo S" is a transport ship that can load up to 75000 resources</li>
		<li>Ships : Capacity of Cago I reduced to 25000 resources</li>
		<li>Map : Added fleets signature next to the fleets names</li>
	</ul>
</div>

<div class="title">2005/10/07</div>
<div class="description">
	<ul>
		<li>Buildings : Added a new building : the laboratory, a lvl 1 building that increases the number of scientists in the colony</li>
		<li>Help : Added some descriptions for researches</li>
		<li>Research : Research time has been increased a little</li>
	</ul>
</div>

<div class="title">2005/10/06</div>
<div class="description">
	<ul>
		<li>Fleets : Changed how distances (and hence travel time) are computed<br/>
		In the same sector, the distance from planet 1 to planet 25 is around 5.65 units<br/>
		When moving a fleet from a sector to another, the travel distance is 6 times the distance between the 2 sectors in a 10x10 grid, so when moving from s1 to s2 or from s1 to s11, the distance is 6 units. From s1 to s99, it gives a distance of around 74.2 units<br/>
		When moving a fleet from a galaxy to another, the travel distance is always 100 units
		</li>
		<li>Registration : New players will get a planet with an even number (2,4,6,8,12,14,16,18,20,22,24)</li>
		<li>Registration : Registrations are open</li>
	</ul>
</div>

<div class="title">2005/10/05</div>
<div class="description">
	<ul>
		<li>Help : Help pages on buildings, researches and ships are now grouped by category</li>
		<li>Interface : rewrote a part of the templates</li>
	</ul>
</div>

<div class="title">2005/10/04</div>
<div class="description">
	<ul>
		<li>Reports : Only 50 reports are kept</li>
	</ul>
</div>

<div class="title">2005/10/03</div>
<div class="description">
	<ul>
		<li>Buildings : Construction time is now displayed even if building can't be built (not enough resources or not enough space)</li>
		<li>Buildings : Added a hint when you mouse over the disabled "destroy" to explain why you can't destroy a building</li>
		<li>Research : Research time has been increased so that it is longer at level 1</li>
		<li>Market : Resource prices have been lowered</li>
	</ul>
</div>

<div class="title">2005/09/30</div>
<div class="description">
	<ul>
		<li>Fleets : You can load/unload resources on your planets and unload resources on friendly planet (alliance members)</li>
	</ul>
</div>

<div class="title">2005/09/29</div>
<div class="description">
	<ul>
		<li>Buildings : Added 3 new buildings : Research center, Military barracks and Military base that increase the capacity of scientists and soldiers</li>
		<li>System : Added an error page to be displayed in case of an internal server error</li>
		<li>Market : Prices are given by the database and may vary in the future</li>
	</ul>
</div>

<div class="title">2005/09/28</div>
<div class="description">
	<ul>
		<li>Ships : Bigger ships travel faster</li>
		<li>Ships : The speed of the fleet is the speed of the slowest ship in the fleet</li>
		<li>Ships : The fleet speed is now taken into account when moving a fleet</li>
	</ul>
</div>

<div class="title">2005/09/27</div>
<div class="description">
	<ul>
		<li>Fleets : Fleet and Fleets pages were displaying the name of the destination planet instead of the owner name when the owner is not a friend</li>
		<li>Fleets : When a fleet moves to an uninhabited planet, the coordinates are written in gray</li>
		<li>Ships : Fighters and interceptors were considered as having 2 turrets instead of only 1, their canons fire at the same time</li>
		<li>Web : Some script functions were moved into .js files</li>
	</ul>
</div>

<div class="title">2005/09/26</div>
<div class="description">
	<ul>
		<li>Training : Scientists and soldiers can now be trained</li>
		<li>Research : Researches take longer but you can train more scientists to increase your research speed</li>
		<li>Buildings : New layout for buildings list and floor/space occupation is now displayed</li>
	</ul>
</div>


<div class="title">2005/09/23</div>
<div class="description">
	<ul>
		<li>Buildings : Added Rectenna and Solar Power Satellites</li>
		<li>Buildings : Reduced the time taken to build a spaceport by 20000 seconds</li>
		<li>Map : Radars are now working as expected : you can see fleets around planets and the radar strength of the planet if its radar jamming is below than your stronger radar in the sector</li>
		<li>Production : Production page shows all the bonus applied to the planet production</li>
	</ul>
</div>

<div class="title">2005/09/22</div>
<div class="description">
	<ul>
		<li>Map : You can see only fleets near the planets of your alliance members or your planets, and near planets where you got a fleet</li>
		<li>Reports : 2 messages were received when a fleet reaches its destination</li>
		<li>Notes : Notes may be saved with carriage returns every 3 words when using FireFox</li>
	</ul>
</div>

<div class="title">2005/09/21</div>
<div class="description">
	<ul>
		<li>Market : Independant traders will buy your resources, they may arrive after 6 hours</li>
		<li>Reports : A new message tells you when a trader has taken the resources and paid you</li>
	</ul>
</div>

<div class="title">v0.1</div>
<div class="description">
	<ul>
	<li>First version</li>
	</ul>
</div>
</div>