<div id="fleets">
<table class="default" width="450">
<tr class="header">
	<td>Planète</td><td>Vaisseaux</td>
</tr>

[[planet]]
<tr class="smallitem">
	<td><b><a href="orbit.asp?planet={planetid}">{planetname}</a>&nbsp;<a href="map.asp?g={g}&s={s}&p={p}">({g}.{s}.{p})</a></b></td>
	<td align=left>[[ship]]<div>{ship} x{quantity:n}[[t]]
	[[category10]]Vaisseaux utilitaires[/category10]]
	[[category11]]Vaisseaux de déploiement[/category11]]
	[[category15]]Vaisseaux tactiques[/category15]]
	[[category20]]Vaisseaux légers[/category20]]
	[[category30]]Corvettes[/category30]]
	[[category40]]Frégates[/category40]]
	[[category50]]Croiseurs[/category50]]
	[[category60]]Dreadnought[/category60]]
	[[category80]]Titan[/category80]]
	[[category90]]Plateforme de défense[/category90]][/t]]
	</div>
	[/ship]]
	</td>
</tr>
[/planet]]
[[noships]]
<tr class="smallitem">
	<td colspan="3" align="center">Aucun vaisseau en attente</td>
</tr>
[/noships]]
</table>
</div>