<script>

var resources=new Array("ore","hydrocarbon","scientists","soldiers","workers");

var fleet_capacity = 0;
var fleet_load = 0;

var newfleet_capacity = 0;
var newfleet_load = 0;

function updateresources() {
	fleet_load = {fleet_load};
	newfleet_load = 0;

	for(i=0;i<resources.length;i++)
	{
		var v = getval("load_" + resources[i]);
		newfleet_load += v;
		fleet_load -= v;
	}

	document.getElementById("loadOrig").innerHTML = (fleet_load > fleet_capacity)?'<span class="full">' + formatnumber(fleet_load) + '</span>':formatnumber(fleet_load);
	document.getElementById("loadNew").innerHTML = (newfleet_load > newfleet_capacity)?'<span class="full">' + formatnumber(newfleet_load) + '</span>':formatnumber(newfleet_load);
	window.setTimeout("updateresources()", 200);
}

function setmaximum(res, res_max) {
	var maxload = newfleet_capacity;

	for(i=0;i<resources.length;i++)
	{
		if(resources[i] != res)
			maxload -= getval("load_" + resources[i]);
	}

	if(maxload > res_max)
		maxload = res_max;
	else
	if(maxload < 0)
		maxload = 0;

	setval("load_" + res, maxload);
}


function transfer_all() {
	setmaximum('ore', {available_ore});
	setmaximum('hydrocarbon', {available_hydrocarbon});
	setmaximum('scientists', {available_scientists});
	setmaximum('soldiers', {available_soldiers});
	setmaximum('workers', {available_workers});
}

var ships=new Array();

function updatecargo() {
	fleet_capacity = 0;
	newfleet_capacity = 0;

	for(i=0; i<ships.length; i++)
	{
		fleet_capacity += ships[i][1]*ships[i][2] - Math.min(getval("transfership"+ships[i][0]), ships[i][2])*ships[i][1];
		newfleet_capacity += Math.min(getval("transfership"+ships[i][0]), ships[i][2])*ships[i][1];
	}

	var obj = document.getElementById("capacityOrig");
	if(obj.innerHTML != fleet_capacity) obj.innerHTML = formatnumber(fleet_capacity);

	obj = document.getElementById("capacityOrig2");
	if(obj.innerHTML != fleet_capacity) obj.innerHTML = formatnumber(fleet_capacity);

	obj = document.getElementById("capacityNew");
	if(obj.innerHTML != newfleet_capacity) obj.innerHTML = formatnumber(newfleet_capacity);

	obj = document.getElementById("capacityNew2");
	if(obj.innerHTML != newfleet_capacity) obj.innerHTML = formatnumber(newfleet_capacity);

	window.setTimeout("updatecargo()", 200);
}

function shipsInFleets() {
	var n = 0;
	var total = 0;
	for(i=0;i<ships.length;i++)
	{
		 n += getval("transfership"+ships[i][0]);
		 total += getval("origship"+ships[i][0]);
	}
	
	return false;
}

function submitchanges() {

	var nbShipsOrig = 0;
	var nbShipsNew = 0;
	for(i=0;i<ships.length;i++)
	{
		nbShipsOrig = nbShipsOrig + ships[i][2];
		nbShipsNew = nbShipsNew + Math.min(getval("transfership"+ships[i][0]), ships[i][2]);
	}
	nbShipsOrig = nbShipsOrig - nbShipsNew;
	var e_ressource = false;
	var e_ship = false;

	for(i=0; i<resources.length; i++)
	{
		if (getval("load_" + resources[i])<0 || getval("load_" + resources[i])<0){
			e_ressource = true;
			break;
		}
	}

	for(i=0; i<ships.length; i++)
	{
		if (getval("transfership" + ships[i][0])<0 || getval("transfer" + ships[i][0])<0){
			e_ship = true;
			break;
		}
	}

	if ( e_ressource )
	{
		alert("Quantités de ressources incorrectes.");
		return false;
	}
	else if ( e_ship )
	{
		alert("Quantités de vaisseaux incorrectes.");
		return false;
	}
	else if(nbShipsOrig==0) {
		alert("La flotte {fleetname} ne peut contenir zéro vaisseau.");
		return false;
	}
	else if (nbShipsNew==0) {
		alert("La nouvelle flotte ne peut contenir zéro vaisseau.");
		return false;
	}
	else
		return true;
}
</script>

<div id="fleetsplit">

<form method="post" action="?id={fleetid}" name="transfer" onsubmit="return submitchanges()">
<input type="hidden" name="split" value="1">

<table class="default">
	<tr class="title"><td colspan=4>Diviser la flotte {fleetname}</td></tr>
	<tr class="clear"><td>&nbsp;</td></tr>
	[[error3]]
	<tr><td colspan=4 align=center><span class="error">La flotte est occupée. Vous ne pouvez diviser une flotte qui combat, récolte ou voyage.</span></td></tr>
	[/error3]]
	[[error2]]
	<tr><td colspan=4 align=center><span class="error">Le nom de la flotte est déjà utilisé, veuillez en choisir un autre.</span></td></tr>
	[/error2]]
	[[error1]]
	<tr><td colspan=4 align=center><span class="error">Le nom de la flotte est invalide, il ne peut contenir que des lettres (a-z) et des chiffres (0-9).</span></td></tr>
	[/error1]]
	<tr class="category">
	<td colspan=4 align="center">Nom de flotte <span style="margin:0px 10px;"><input type="text" name="newname" value="" maxlength="16"></span></td>
	</tr>
	<tr class="clear"><td>&nbsp;</td></tr>
	<tr class="title"><td colspan=4>Transfert de vaisseaux</td></tr>
	<tr class="header"><td>Vaisseau</td><td>Cargo</td><td>Quantité</td><td>Transférer</td></tr>
	[[ship]]
	<tr>
		<td>{name}</td>
		<td align="right">{cargo_capacity:n}</td>
		<td align="right" name="origship{id}">{quantity:n}</td>
		<td><input type="text" name="transfership{id}" value="{transfer}" size=8> <a href="javascript:setval('transfership{id}', {quantity})">max</a></td>
		<script>ships.push(new Array({id},{cargo_capacity},{quantity},{signature}));</script>
	</tr>
	[/ship]]

	<tr>
	<td colspan>Nouvelle capacité {fleetname}</td>
	<td colspan=3>
	<span id="capacityOrig">{fleet_capacity}</span> unités
	</td>
	</tr>
	<tr>
	<td colspan>Capacité nouvelle flotte</td>
	<td colspan=3>
	<span id="capacityNew">0</span> unités
	</td>
	</tr>
	
	<tr class="clear"><td>&nbsp;</td></tr>
	
	<tr class="title"><td colspan=4>Transfert de ressources</td></tr>

	<tr class="header"><td>Ressource</td><td colspan=2>En soute</td><td>Transférer</td></tr>
	<tr>
		<td>Minerai</td>
		<td colspan=2 align=right name="orig_ore">{available_ore:n}</td>
		<td><input type="text" id="load_ore" name="load_ore" value="{t_ore}" size=8> <a href="javascript:setmaximum('ore', {available_ore})">max</a></td>
	</tr>
	<tr>
		<td>Hydrocarbures</td>
		<td colspan=2 align=right name="orig_hydrocarbon">{available_hydrocarbon:n}</td>
		<td><input type="text" id="load_hydrocarbon" name="load_hydrocarbon" value="{t_hydrocarbon}"size=8> <a href="javascript:setmaximum('hydrocarbon', {available_hydrocarbon})">max</a></td>
	</tr>
	<tr>
		<td>Scientifiques</td>
		<td colspan=2 align=right name="orig_scientists">{available_scientists:n}</td>
		<td><input type="text" id="load_scientists" name="load_scientists" value="{t_scientists}" size=8> <a href="javascript:setmaximum('scientists', {available_scientists})">max</a></td>
	</tr>
	<tr>
		<td>Soldats</td>
		<td colspan=2 align=right name="orig_soldiers">{available_soldiers:n}</td>
		<td><input type="text" id="load_soldiers" name="load_soldiers" value="{t_soldiers}" size=8> <a href="javascript:setmaximum('soldiers', {available_soldiers})">max</a></td>
	</tr>
	<tr>
		<td>Travailleurs</td>
		<td colspan=2 align=right name="orig_workers">{available_workers:n}</td>
		<td><input type="text" id="load_workers" name="load_workers" value="{t_workers}" size=8> <a href="javascript:setmaximum('workers', {available_workers})">max</a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td colspan=3 align=center><a href="javascript:transfer_all()">Tout transférer</a></td>
	</tr>

	<tr>
	<td>Utilisation cargo {fleetname}</td>
	<td colspan=3>
	<span id="loadOrig">{fleet_load}</span> / <span id="capacityOrig2">{fleet_capacity}</span> unités
	</td>
	</tr>
	<tr>
	<td>Utilisation cargo nouvelle flotte</td>
	<td colspan=3>
	<span id="loadNew">0</span> / <span id="capacityNew2">0</span> unités
	</td>
	</tr>
	<tr><td colspan=4 align="center">
	<input type="button" value="< Retour" onclick="window.location.href='fleet.asp?id={fleetid}'">&nbsp;<input type="submit" value="Diviser">
	</td></tr>

	[[error3]]
	<tr><td colspan=4 align=center><span class="error">La flotte est occupée. Vous ne pouvez diviser une flotte qui combat, récolte ou voyage.</span></td></tr>
	[/error3]]
	[[error4]]
	<tr><td colspan=4 align=center><span class="error">Vous avez atteint le nombre maximum de flottes.</span></td></tr>
	[/error4]]
	[[error2]]
	<tr><td colspan=4 align=center><span class="error">Le nom de la flotte est déjà utilisé, veuillez en choisir un autre.</span></td></tr>
	[/error2]]
	[[error1]]
	<tr><td colspan=4 align=center><span class="error">Le nom de la flotte est invalide, il ne peut contenir que des lettres (a-z) et des chiffres (0-9).</span></td></tr>
	[/error1]]

</table>
</form>
<script>window.setTimeout("updatecargo()", 200);</script>
<script>window.setTimeout("updateresources()", 200);</script>