<div id="intelligence">

<div id="spynation">
<table class="default" width="650">
<tr class="title"><td>Conseil de Sécurité Galactique</td></tr>
<tr class="item">
	<td>
		<p>Le Conseil de Sécurité Galactique existe afin de permettre l'émergence et le développement des nouvelles nations dans l'univers en imposant des règles strictes et universelles à tous les empires.<br/>
		Le développement des nouvelles nations est encadré par différents niveaux de sécurité.</p>
	</td>
</tr>
<tr>
	<td>
	<dl class="gsc">
		<dt>Niveau de sécurité 1</dt><dd>Toute nouvelle nation obtient ce niveau de sécurité, il permet de coloniser jusqu'à <span class="highlight">{security1_max_planets:n} planètes</span> dans les bordures extérieures des galaxies et recruter <span class="highlight">{security1_max_commanders:n} commandant</span>.<br/><br/><ul><li>L'envoi et la réception de crédits<span class="highlight"> interdit</span></li><li>L'appartenance à une alliance<span class="highlight"> interdit</span></li><li>L'utilisation de service de renseignements<span class="highlight"> interdit</span></li></ul></dd>
		<dt>Niveau de sécurité 2</dt><dd>Toute nation désirant se développer plus passe par ce niveau de sécurité, il permet de coloniser jusqu'à <span class="highlight">{security2_max_planets:n} planètes</span> dans les deux couches extérieures des galaxies et recruter <span class="highlight">{security2_max_commanders:n} commandants</span>.<br/><br/><ul><li>L'envoi et la réception de crédits<span class="highlight"> interdit</span></li><li>L'appartenance à une alliance<span class="highlight"> interdit</span></li><li>L'utilisation de service de renseignements<span class="highlight"> interdit</span></li></ul></dd>
		<dt>Niveau de sécurité 3</dt><dd>Il s'agit du niveau de sécurité le plus élevé. Les nations ayant ce niveau peuvent coloniser jusqu'à <span class="highlight">{security3_max_planets:n} planètes</span> dans toutes les galaxies et recruter <span class="highlight">{security3_max_commanders:n} commandants</span>.<br/><br/><ul><li>L'envoi et la réception de crédits<span class="highlight"> autorisé</span></li><li>L'appartenance à une alliance<span class="highlight"> autorisé</span></li><li>L'utilisation de service de renseignements<span class="highlight"> autorisé</span></li></ul></dd>
	</dl>
	</td>
</tr>
</table>
</div>

</div>