<div id=mails align=center>

<form method=post action='?a=unignorelist'>
<table class=default width=450 id=ignorelist>
<tr class=title><td colspan=3>Nations dont les messages sont ignorés</td></tr>
<tr class=header><td>Nation</td><td>Bloqués</td><td>Ignoré depuis</td></tr>
[[ignorednation]]
<tr><td nowrap><input type=checkbox class=checkbox id=check_{index} name=unignore value="{userid}"/><label for=check_{index}>{name}</label></td><td width='1%' align=right>{blocked:n}</td><td width='1%' nowrap>{added:dd/mm/yyyy hh:mm:ss}</td></tr>
[/ignorednation]]
[[noignorednations]]<tr><td align=center colspan=3>Aucune nation</td></tr>[/noignorednations]]
<tr><td align=center colspan=3><input type=submit value="Retirer"/></td></tr>
</table>
</form>

</div>