<div id="market">
<script>
	var planets=new Array(0[[planet]][[can_buy]],new Array({planet_id},{ore_max},{hydrocarbon_max},{price_ore},{price_hydrocarbon})[/can_buy]][/planet]]);

	function updateprice(id)
	{
		var ore_q = 0;
		var hydro_q = 0;

		var planet=planets[id];

		ore_q=getval("o"+planet[0]);
		if(ore_q > planet[1]) { ore_q=planet[1]; setval("o"+planet[0], planet[1]); }
		var ore_price=planet[3];

		hydro_q=getval("h"+planet[0]);
		if(hydro_q > planet[2]) { hydro_q=planet[2]; setval("h"+planet[0], planet[2]); }
		var hydro_price=planet[4];

		var price = ore_q*ore_price + hydro_q*hydro_price;

		var obj = $("totalprice"+planet[0]);
		if((obj != null) && (obj.innerHTML != price))
		{
			obj.innerHTML = formatnumber(price);
[[totalprice]]
			computetotal();
[/totalprice]]
		}
	}
[[totalprice]]
	function computetotal()
	{
		var total={total};

		for(var i=1; i<planets.length; i++)
		{
			var planet=planets[i];
			var obj = $("totalprice"+planet[0]);
			total += parseInt(obj.innerHTML.replace(" ",""));
		}
		var obj = $("total");
		obj.innerHTML = formatnumber(total);
	}
[/totalprice]]
</script>

<form method="post" action="?a=buy[[planetid]]&planet={planet_id}[/planetid]]">
<input type="hidden" name="rel" value="1">

<table class="default" width=750>
<tr class="title"><td colspan=3>Achat de ressources</td></tr>
<tr class="header"><td>Planète</td><td>Ressources</td><td width=100>Total</td>[[rem]]<td>Temps estimé</td>[/rem]]</tr>
[[planet]]
<tr valign=middle class="item[[highlight]]highlight[/highlight]]">
	<td nowrap>
		<table cellpadding=0 cellspacing=0 class="clear">
		<tr>
			<td rowspan=3><img src="{PATH_IMAGES}/planets/p{planet_img}.gif" class="smallplanet" width="64" height="64"></td>
			<td nowrap colspan=2><b><a href="planet.asp?planet={planet_id}">{planet_name}</a> <a href="map.asp?g={g}&s={s}&p={p}">({g}.{s}.{p})</a></b></td>
		</tr>
		<tr><td><img src="{PATH_IMAGES}/interface/ore.gif" title="Minerai" width=16 height=16></td><td align="left" nowrap>[[high_ore_capacity]]<span class="high2">[/high_ore_capacity]]{planet_ore:n} / {planet_ore_capacity:n}[[high_ore_capacity]]</span>[/high_ore_capacity]] (<span class=prod>+{planet_ore_production:n}</span>)</td></tr>
		<tr><td><img src="{PATH_IMAGES}/interface/hydrocarbon.gif" title="Hydrocarbure" width=16 height=16></td><td align=left nowrap>[[high_hydrocarbon_capacity]]<span class="high2">[/high_hydrocarbon_capacity]]{planet_hydrocarbon:n} / {planet_hydrocarbon_capacity:n}[[high_hydrocarbon_capacity]]</span>[/high_hydrocarbon_capacity]] (<span class=prod>+{planet_hydrocarbon_production:n}</span>)</td></tr>
		</table>
	</td>
	<td>
		[[can_buy]]
		<table cellpadding=0 cellspacing=2 class="clear"[[buy]] width="100%"[/buy]]>
		<tr>
			<td width=16><img src="{PATH_IMAGES}/interface/ore.gif" title="Minerai" width="16" height="16"></td>
			<td[[buy]] width="1%" nowrap[/buy]]>[[buy]]<input type="text" id=o{planet_id} name=o{planet_id} value="{ore}" onkeyup="updateprice({index})" size="3" maxlength="4"> x1000 (<img src="{PATH_IMAGES}/interface/credits.gif" class="icon" title="Credits" width="16" height="16"> {price_ore})[/buy]][[buying]]{buying_ore:n}[/buying]]</td>
			[[buy]]
			<td align=left><a href="javascript:setval('o{planet_id}', {ore_max}); updateprice({index})">max</a></td>
			<td><a href="javascript:setval('o{planet_id}', 0); setval('h{planet_id}', 0); updateprice({index})">Rien</a></td>[/buy]]
		</tr>
		<tr>
			<td width=16><img src="{PATH_IMAGES}/interface/hydrocarbon.gif" title="Hydrocarbure" width=16 height=16></td>
			<td[[buy]] width="1%" nowrap[/buy]]>[[buy]]<input type="text" id=o{planet_id} name=h{planet_id} value="{hydrocarbon}" onkeyup="updateprice({index})" size="3" maxlength="4"> x1000 (<img src="{PATH_IMAGES}/interface/credits.gif" class="icon" title="Credits" width="16" height="16"> {price_hydrocarbon})[/buy]][[buying]]{buying_hydrocarbon:n}[/buying]]</td>
			[[buy]]
			<td align=left><a href="javascript:setval('h{planet_id}', {hydrocarbon_max}); updateprice({index})">max</a></td>
			<td><a href="javascript:setval('o{planet_id}', {ore_max}); setval('h{planet_id}', {hydrocarbon_max}); updateprice({index})">Tout</a></td>[/buy]]
		</tr>
		</table>
		[/can_buy]]
		[[cant_buy_enemy]]
		<table cellpadding="0" cellspacing="2" class="clear" width="100%">
		<tr><td align="center">Impossible d'acheter tant que<br/> des vaisseaux ennemis orbitent<br/> autour de la planète</td></tr>
		</table>
		[/cant_buy_enemy]]
		[[cant_buy_workers]]
		<table cellpadding=0 cellspacing=2 class="clear" width="100%">
		<tr><td align="center">Impossible d'acheter, nous n'avons pas assez de personnel pour s'occuper des marchandises et des transactions avec les marchands</td></tr>
		</table>
		[/cant_buy_workers]]
		[[cant_buy_merchants]]
		<table cellpadding=0 cellspacing=2 class="clear" width="100%">
		<tr><td align="center">Impossible d'acheter, cette galaxie n'est pas desservie par les marchands</td></tr>
		</table>
		[/cant_buy_merchants]]
		</td>
	<td align=right><img src="{PATH_IMAGES}/interface/credits.gif" class=res title="Credits" width=16 height=16><span id="totalprice{planet_id}">{buying_price:n}</span></td>
</tr>
[/planet]]
[[totalprice]]
<tr><td colspan=2 align=right>Total</td><td align=right><img src="{PATH_IMAGES}/interface/credits.gif" class=res title="Credits" width=16 height=16><span id="total">0</span></td></tr>
[/totalprice]]
[[buy]]
<tr><td colspan=3 align=center><input type="submit" value="Acheter"></td></tr>
[/buy]]
</table>
</form>

[[totalprice]]<script>computetotal();</script>[/totalprice]]
</div>