<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="100" prefixLanguageFilePath="" path="/500.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
