<div class="header first">A propos</div>
<div>
	<p>Exile est un jeu développé par <a href="https://www.gene6.com" title="Gene6" target="_blank">Gene6 Sarl</a><br/>
	Gene6 SARL est une société enregistrée au registre du commerce : RCS Lille B 434 410 007<br/>
	Pour nous contacter : <a href="mailto:gene6 at gene6.com">gene6 at gene6.com</a></p>

	<br/>

	<p><b>Gene6 SARL</b><br/>
	141 rue du général Leclerc<br/>
	60250 Mouy<br/>
	France</p>
</div>

<div class="header">Déclaration CNIL 1139370</div>
<div>
	<p>A ce titre, et conformément à la loi Informatique et Libertés en date du 6 janvier 1978, l'internaute dispose d'un droit d'accès, de rectification, de modification et de suppression concernant les données qui le concernent. Ce droit peut être exercé simplement en nous adressant un mail en cliquant à l'adresse suivante <a href="mailto:info%20at%20exil.pw">info at exil.pw</a>.</p>
</div>

<div class="header">Administrateurs</div>
<div>
	<p>Vous pouvez contacter les administrateurs sur le forum ou via leur adresse e-mail :</p>
	<br/>

	<p><u>Administrateurs forum</u><br/>
	La liste est visible sur le <a href="https://forum.exil.pw/userlist.php?show_group=1">forum</a><br/>
	Contact: <a href="mailto:info at exil.pw">info at exil.pw</a></p>

	<br/>

	<p><u>Modérateurs forum</u><br/>
	La liste est visible sur le <a href="https://forum.exil.pw/userlist.php?show_group=2">forum</a></p>

	<br/>

	<p><u>Administrateurs jeu</u><br/>
	<ul>
		<li>Chob</li>
		<li>Duke</li>
	</ul>
	</p>
</div>

<div class="header">Remerciements</div>
<div>
	<ul>
		<li>Leto</li>
	</ul>
</div>