<div id="banners">
	<div class="header first">Bannière (468x60)<b:t>Si vous désirez faire connaître Exile, voici des bannières que vous pouvez utiliser :</b:t></div>

	<div class="banner-code">
		<img src="/assets/banners/banner1.gif" alt="Exile" width="468" height="60">
		<textarea onfocus="this.select()">&lt;a href="https://www.exil.pw" target="_blank"&gt;&lt;img src="/assets/banners/banner1.gif" width="468" height="60" alt="Exile - Jeu gratuit en ligne de conquête spatiale"&gt;&lt;/a&gt;</textarea>
		<div class="clearer"></div>
	</div>

	<div class="header">Bannière (500x100)</div>
	<div class="banner-code">
		<img src="/assets/banners/banner2.gif" alt="Exile" width="500" height="100">
		<textarea onfocus="this.select()">&lt;a href="https://www.exil.pw" target="_blank"&gt;&lt;img src="/assets/banners/banner2.gif" width="500" height="100" alt="Exile - Jeu gratuit en ligne de conquête spatiale"&gt;&lt;/a&gt;</textarea>
		<div class="clearer"></div>
	</div>
	<div class="banner-code">
		<img src="/assets/banners/banner3.gif" alt="Exile" width="500" height="100">
		<textarea onfocus="this.select()">&lt;a href="https://www.exil.pw" target="_blank"&gt;&lt;img src="/assets/banners/banner3.gif" width="500" height="100" alt="Exile - Jeu gratuit en ligne de conquête spatiale"&gt;&lt;/a&gt;</textarea>
		<div class="clearer"></div>
	</div>

	<div class="header">Barre de forum (350x19)</div>
	<div class="bar-code"><img src="/assets/banners/bar1.jpg" alt="Exile" width="350" height="19"><input type="text" onfocus="this.select()" value="[url=https://www.exil.pw/][img]/assets/banners/bar1.jpg[/img][/url]"/><div class="clearer"></div></div>
	<div class="bar-code"><img src="/assets/banners/bar2.jpg" alt="Exile" width="350" height="19"><input type="text" onfocus="this.select()" value="[url=https://www.exil.pw/][img]/assets/banners/bar2.jpg[/img][/url]"/><div class="clearer"></div></div>
	<div class="bar-code"><img src="/assets/banners/bar3.jpg" alt="Exile" width="350" height="19"><input type="text" onfocus="this.select()" value="[url=https://www.exil.pw/][img]/assets/banners/bar3.jpg[/img][/url]"/><div class="clearer"></div></div>
</div>