<h1>Conditions générales</h1>

<p>Gene6 Sarl ('Gene6') situé au 141 rue du général Leclerc, 60250 Mouy France demande à tous les nouveaux joueurs de lire et d'accepter les conditions générales suivantes avant de créer leur compte jeu.</p>

<h2>1- Services</h2>

<h3>I) Validité des conditions générales</h3>

<p>
En participant à Exile, le joueur accepte les règles établies au sein du service.
</p>

<h3>II) Responsabilité</h3>

<p>
Exile est un jeu gratuit sans garantie de service. Gene6 peut à tout moment décider de clore le compte d'un joueur sans donner de raison afin de continuer à fournir un service acceptable pour le reste de la communauté. Gene6 ne pourra être tenu responsable de problèmes causés par l'utilisation de Exile ou aux conséquences de l'utilisation de Exile. En aucun cas une panne serveur, erreur de programmation, bug, ou impossibilité de jouer temporairement pourra donner droit à compensation auprès du joueur.
</p>

<h2>2- Statut de membre</h2>

<h3>I) Début du statut</h3>

<p>
La personne devient membre dès la création d'un compte sur le serveur de jeu ou sur le forum. Le statut de membre donne uniquement au joueur le droit de jouer sur les serveur de Exile, en aucun cas il ne peut revendiquer la propriété du compte de jeu.
</p>

<h3>II) Fin du statut de membre par le joueur</h3>

<p>
Le joueur peut décider de clore son compte à tout moment via l'interface du jeu. Les données relatives au compte peuvent être conservées à des fins techniques et légales.
</p>

<h3>III) Fin du statut de membre par Gene6</h3>

<p>
Gene6 se réserve le droit de clore ou bloquer temporairement le compte d'un joueur après analyse suite à un abus de comportement ou à une plainte reçue.
</p>


<h3>IV) Compte payant</h3>

<p>
Les mêmes conditions s'appliquent au compte payant. Le compte payant donne droit à une extension de service (pas de publicité et options supplémentaires). Les options supplémentaires peuvent évoluer afin de ne pas avantager injustement les joueurs de comptes payants.
</p>

<h2>3- Responsabilité</h2>

<p>
Gene6 met à disposition des joueurs la plateforme de jeu ainsi que le moyen de communiquer entre joueurs mais n'a aucun contrôle sur les messages envoyés entre joueurs qui relévent de la responsabilité de chaque joueur. En cas de messages offensants, racistes, pornographiques ou enfreignant la loi appliquée et portant atteinte au bon déroulement du jeu, le compte du joueur impliqué sera bloqué ou définitivement clos après analyse.
</p>
<p>
Lorsque vous jouez à Exile, vous devez respecter les droits des autres joueurs, notamment celui de jouer et d’y prendre du plaisir. Dans cette optique, les menaces, le harcèlement, la tromperie et tout propos de nature à porter préjudice à un autre joueur sont strictement interdits.
</p>
<p>
Il est interdit d’exploiter les bugs de Exile et de communiquer l’existence de bugs potentiellement exploitables (bugs qui permettent à un utilisateur d’en retirer des bénéfices non justifiés), que ce soit directement ou via message sur un forum, aux autres utilisateurs de Exile. Les bugs doivent être signalés via la page de contact.
</p>

<h2>4- Restriction d'utilisation</h2>

<h3>I) Automatisation</h3>

<p>
Il est interdit au joueur de mettre en oeuvre un procédé visant à automatiser la modification des actions du compte (utilisation de robot), remplaçant l'interface de jeu ou causant une utilisation anormale du service pouvant créer des problèmes avec le bon déroulement du jeu. 
</p>
<p>
Le joueur doit se servir d'un navigateur internet affichant les images et ne bloquant pas la publicité qui finance le service.
</p>

<h3>II) Modifications</h3>

<p>
Il est interdit de modifier ou de tenter de modifier le contenu des pages créant l'univers de jeu proposé sur la plateforme.
</p>

<h3>III) Connexion au compte</h3>

<p>
La connexion au compte est permise seulement via la page officielle de jeu.
</p>

<h2>5- Limitations</h2>

<h3>I) Multi-comptes</h3>

<p>
Il est interdit de posséder plusieurs comptes sur un même univers, ceux-ci seront clos sans avertissement.
</p>

<h3>II) Multi-joueurs</h3>

<p>
Le partage de compte n'est pas permis entre joueurs et sera considéré comme multi-comptes.
</p>

<h3>III) Règles du jeu</h3>

<p>
Chaque joueur accepte de se conformer aux conditions régissant Exile.
</p>

<h3>IV) Sanctions</h3>

<p>
Gene6 se réserve le droit de bloquer le compte d'un joueur temporairement ou définitivement en cas de non respect des conditions générales du jeu.
</p>

<h2>6- Protection des données</h2>

<h3>I) Données personnelles</h3>

<p>
Gene6 sauvegarde les données personnelles du compte afin de s'assurer que tous les joueurs respectent les règles du jeu, les conditions générales et la loi en vigueur. Ces données sont l'adresse IP, l'adresse email renseignée et les informations du profil du compte du joueur.
</p>

<h3>II) Diffusion</h3>

<p>
En cas de plainte, Gene6 pourra être amené à communiquer des informations relatives aux comptes joueurs afin d'aider les autorités et services légaux dans leur enquête. 
</p>
<p>
Les informations personnelles sont confidentielles et ne seront pas diffusées à des fins publicitaires ou commerciales.
</p>
<p>
Les joueurs n'acceptant pas la sauvegarde de ces données peuvent clore leur compte à tout moment.
</p>

<h2>7- Propriété des comptes</h2>

<h3>I) Ressources</h3>

<p>
Les ressources mises à disposition des joueurs sont virtuelles et restent la propriété de Gene6. La vente de ces ressources (vaisseaux, crédit, minerai ...) hors jeu est illégale et porte atteinte à l'équilibre de l'économie du jeu.
</p>
<p>
Il est autorisé de vendre en jeu ces ressources entre joueurs sans contrepartie financière en dehors du cadre du jeu en ligne.
</p>

<h3>II) Transfert de compte</h3>
<p>
Il n'est pas interdit de transférer un compte à un nouveau joueur tant que cela respecte les conditions générales.
</p>

<h2>8- Responsabilité</h2>
<p>
Gene6 ne peut être tenu responsable des dégats occasionnés par l'utilisation de Exile.
</p>

<h2>9- Modification des conditions générales</h2>
<p>
Gene6 se réserve le droit de modifier les conditions générales sans préavis. En cas de désaccord le joueur peut clore son compte via l'interface de jeu.
</p>

<h2>10- Lois en vigueur</h2>
<p>
La législation française est appliquée en cas de recours légal.
</p>