<dl class="first">
	<dt>Q: Le jeu est-il gratuit ?</dt>
	<dd>R: Oui, le jeu est gratuit et sponsorisé par la publicité. Nous proposerons bientôt un compte payant sans publicité avec des fonctionnalités avancées mais qui ne donneront néanmoins pas d'avantages stratégiques.</dd>
</dl>

<dl>
	<dt>Q: Comment jouer ?</dt>
	<dd>R: Créer un compte à partir de la page inscription, vous recevrez un e-mail de confirmation contenant votre mot de passe. Vous pourrez commencer à jouer immédiatement : <a href="?p=servers" title="Inscription à Exile">inscription.</a></dd>
</dl>

<dl>
	<dt>Q: Y a-t-il quelque chose à installer ?</dt>
	<dd>R: Non, vous n'avez rien à installer sur votre ordinateur, votre navigateur web est suffisant.</dd>
</dl>

<dl>
	<dt>Q: Quels navigateurs sont supportés ?</dt>
	<dd>R: Le jeu est testé principalement avec Internet Explorer et Firefox, mais tout navigateur supportant les css (feuilles de style) et javascript pour certaines pages devraient fonctionner correctement.</dd>
</dl>

<dl>
	<dt>Q: Le jeu se joue tour par tour ?</dt>
	<dd>R: Non, le jeu est en temps réel. Vous pouvez lancer une construction à n'importe quel moment et l'annuler par la suite. Les ressources disponibles sont mises à jour en temps réel, vous ne devrez pas attendre le prochain tour pour avoir les ressources suffisantes pour une construction.</dd>
</dl>

<dl>
	<dt>Q: Dois-je jouer tous les jours ?</dt>
	<dd>R: Non, mais il vous est vivement conseillé de visiter votre compte régulièrement, les autres joueurs pourraient lancer une attaque contre votre colonie pendant votre absence.</dd>
</dl>

<dl>
	<dt>Q: Peut on perdre ? Game Over ?</dt>
	<dd>R: Oui, si vous perdez votre dernière planète, vous aurez perdu. Cependant, suivant les règles du serveur de jeu, vous pourrez recommencer ailleurs.</dd>
</dl>

<dl>
	<dt>Q: Où puis-je poser mes questions ?</dt>
	<dd>R: Pour vos questions sur le jeu en lui même, nous vous prions d'utiliser le forum mis à votre disposition : <a href="https://forum.exil.pw" target=_blank>https://forum.exil.pw</a>
	<p>Pour des questions sur le site, la publicité, la société veuillez contacter : <a href="mailto:info%20at%20exil.pw">info at exil.pw</a></p>
	</dd>
</dl>

<dl>
	<dt>Q: Vais-je recevoir du spam sur mon e-mail ?</dt>
	<dd>R: Nous n'envoyons pas de spam ni de messages publicitaires sur votre e-mail, elle est simplement nécessaire pour vous renvoyer votre mot de passe en cas de besoin et vous contacter personnellement en cas de problèmes en jeu ou de notifications à propos du jeu (problèmes techniques etc...).</dd>
</dl>

<dl>
	<dt>Q: Quelles sont les conditions pour jouer ?</dt>
	<dd>R: Voir : <a href="/?p=conditions">conditions générales</a></dd>
</dl>

<dl>
	<dt>Q: Comment faire de la publicité pour le jeu ?</dt>
	<dd>R: Vous pouvez afficher les bannières pour inviter des amis ou des visiteurs qui se trouvent à <a href="/banners.asp">cette page.</a></dd>
</dl>