<div class="header first">Exile ?</div>
<div>
	<p>Exile est un jeu web <b>gratuit</b> en ligne de simulation spatiale stratégique où s'affrontent de nombreux joueurs simultanément.</p>
	<p>Pour jouer, il vous suffit d'un navigateur web (Internet Explorer, Firefox,  ...) sous n'importe quel système d'exploitation.
	Le jeu n'a besoin d'installer aucun composant sur votre ordinateur, flash et shockwave ne sont pas utilisés.</p>

	<p>Vous pouvez jouer de chez vous, du cybercafé, du bureau pendant votre pause avec simplement votre nom d'utilisateur et votre mot de passe.</p>
</div>
<div class="header">Quelle est l'histoire d'Exile ?</div>
<div>
	<p>Commandant d'un vaisseau colonisateur lancé à partir de l'ancienne Terre, vous commencez votre nouvelle existence sur une planète vierge de toute construction. Vous devrez rebâtir vos installations, lancer vos recherches pour améliorer vos constructions et acquérir de nouvelles compétences, conquérir l'espace, construire de nouveaux vaisseaux mais aussi vous défendre contre d'autres colonies qui pourraient voir en vous une façon de s'enrichir plus facilement et d'étendre leurs territoires.</p>
	<p>Créez votre alliance, commercez, construisez et partez à la conquête de la galaxie!</p>
	<div width="80%" align=center class=screenshots><img src="/assets/site/ss1.jpg" alt="Exile - Interface de jeu" width=150 height=112>&nbsp;&nbsp;<img src="/assets/site/ss2.jpg" alt="Exile - Interface de jeu" width=150 height=112>&nbsp;&nbsp;<img src="/assets/site/ss3.jpg" alt="Exile - Interface de jeu" width=150 height=112></div>
</div>

<div class="header">Votre rôle ?</div>
<div>
	<p>Votre objectif sera d'explorer l'univers, de découvrir de nouvelles technologies, de développer de nouvelles planètes, de mettre au point, construire et gérer vos flottes et de négocier avec d'autres empires.</p>
</div>

<div class="header">Points forts</div>
<div>
	<ul>
	<li>Multijoueurs</li>
	<li>Temps réel</li>
	<li>Recherches avancées (ingénierie, physique, métallurgie ...)</li>
	<li>Constructions planétaires (mines, centrales, ...) et spatiales (intercepteur, chasseur, transporteur ...)</li>
	<li>Colonisation de nouvelles planètes.</li>
	<li>Jouable avec un navigateur (Internet Explorer, Firefox, Opera ...)</li>
	<li>Gratuit!</li>
	</ul>
</div>