<div id="lostpassword">
	<b:error>
		<fieldset>
		<legend class="error">&nbsp;Erreur&nbsp;</legend>
		<div>
			<p class="error">
			<b:email_invalid>Veuillez vérifier votre adresse e-mail</b:email_invalid>
			<b:email_notfound>Votre adresse n'a pas été trouvée dans la base de données, veuillez vérifier votre saisie</b:email_notfound>
			<b:unknown>Une erreur est survenue: <t:error/></b:unknown>
			<b:password_notchanged><br>La modification de votre mot de passe a échoué. Veuillez en redemander un nouveau ou contactez un administrateur au cas où ce problème persiste.</b:password_notchanged>
			</p>
		</div>
		</fieldset>
	</b:error>

	<form method="post" action="/lostpassword.asp">

	<fieldset>
	<legend>&nbsp;Entrez l'adresse e-mail avec laquelle vous vous êtes inscrit&nbsp;</legend>
	<div>
		<p><label for="email">Votre adresse e-mail: </label><input type="text" class="email" name="email" id="email" value="<t:email format='html'/>" maxlength="64"></p>
	</div>
	</fieldset>

	<p align="center">
		<input type="submit" name="resend" class="button" value="Valider">
	</p>

	</form>
</div>