<div id="registered">
Félicitations, votre compte a été créé !<br/>
<br/>
Vous allez recevoir un e-mail avec les instructions pour vous connecter.<br/>
Si vous ne recevez aucun email, veuillez contacter un modérateur sur le forum ou envoyer un email à <a href="mailto:info@exil.pw">info@exil.pw</a>, assurez vous cependant que celui-ci ne soit pas dans un dossier <b>"SPAM"</b> ou n'ait été filtré par votre fournisseur d'email.<br/>
<br/>
Certains fournisseurs comme <b>Hotmail</b> peuvent recevoir l'email avec quelques heures de retard, de notre coté l'email est envoyé <b>immédiatement</b> à votre inscription.<br/>
</div>